:root {
    --primary-color: #C271FF;
    --blueblack-color: #071629;
    --white-color: #fff;
    --black-color: #000;
    --gray-text-color: #07162981;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.header-container {
    background-image: url("./Object.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

header nav li a{
    color: var(--white-color);
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

header nav li a:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--white-color);
}

.int-textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.int-textarea h1 {
    font-size: 120px;
    color: var(--white-color);
}

.span-class {
    display: flex;
    flex-direction: row;
}

.span-class span {    
    font-size: 16px;
    font-weight: bold;
    color: var(--white-color);
    margin: 0 20px;
}

.int-textarea button {
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 20px;
    font-weight: bold;
}

.achievements {
    margin-top: 100px;
}

.achievements h2{
    font-size: 32px;
    color: var(--white-color);
    text-align: center;
    margin: 50px 0;

}

.achievers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bruce {
    border-radius: 50%;
}

.achievers div {
    text-align: center;
    margin: 0 30px;
}

.achievers h3, .achievers p {
    color: var(--white-color);
}

.achievers p {
    font-style: italic;
    font-size: 14px;
}

.testimonial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 100px;
}

.text-part {
    color: var(--white-color);
    margin-left: 40px;
    width: 730px;
}

.text-part blockquote {
    font-size: 22px;
    margin: 20px 0;
}

.text-part p {
    font-size: 22px;
    font-style: italic;
}


/* TUTORIAL SECTION OF THE WEBSITE */

.tutorials {
    margin-bottom: 5em;
}

.tutorials h2 {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    margin-top: 2.5em;
    color: var(--blueblack-color);
}

.tutorials h2 span {
    font-weight: bold;
    color: var(--primary-color);
}

.actual-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.play-btn {
    position: relative;
    top: 7em;
    left: 5.5em;
}

.container-tutorial {
    width: 255px;
    text-align: left;
    margin: 0 2em;
}

.actual-area div h3 {
    margin: 0.625em 0;
}

.actual-area p{
    color: var(--gray-text-color);
    margin-bottom: 0.625em;
}

.phillip {
    width: 12%;
}

.identity {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.identity h4 {
    margin: 0 0.625em;
    color: var(--primary-color);
}

.rate-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* MEMEBERSHIP SECTION OF THE WEBSITE */

.membership {
    padding: 2em 0;
    background-color: var(--blueblack-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.membership h2 {
    font-size: 2em;
    font-weight: 300;
    color: var(--white-color);
    margin-top: 1.25em;
}

.membership span {
    font-weight: bold;
    color: var(--primary-color);
}

.membership button {
    border: none;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 0.635em 1.25em;
    border-radius: 20px;
    /* margin: 3em 0 1em 0; */
}

.memberships {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.memberships div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 257px;
    margin: 3em 0.625em;
}

.memberships h3, .memberships p {
    color: var(--white-color);
    text-align: center;
}


.memberships h3 {
    margin: 0.625em 0;
}

.memberships p {
    line-height: 2;
}

.faq {
    padding: 3.75em 0;
}

.faq h2 {
    font-weight: 300;
    font-size: 3.75em;
    text-align: center;
}

.faq-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grid-child {
    margin: 2em 5em;
}


.grid-text {
    width: 350px;
}

.head {
    margin-top: 5em;
    margin-bottom: 1.25em;
}

